body {
  background-color: #202020;
  color: #fff;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.todo-list {
  display: flex;
  justify-content: space-between;
}

.completed-items,
.uncompleted-items {
  width: 48%;
}

.completed-items h2,
.uncompleted-items h2 {
  text-align: center;
}

.completed-items ul,
.uncompleted-items ul {
  list-style: none;
  padding: 0;
}

.completed-items li {
  background-color: #9ACD32;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 5px;
}
.uncompleted-items li {
  background-color: #FF8C69;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 5px;
}

.completed-items .item-title,
.uncompleted-items .item-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.completed-items .item-content,
.uncompleted-items .item-content {
  font-size: 1.2rem;
}